{% extends 'base.html'%}
{% block logo %}
<a href="{% url 'stock:consum-store' consum.event.id %}" class="logo"><span>Blau</span>NC</a>

{% endblock%}
{% block left-side-bar %}




{% block consum_body %}


{% regroup menu.storeitem_set.all|dictsort:"type" by type as item_by_type %}


<br><br>
{% for type in item_by_type%}

  <div class="col-md-4 col-sm-6 col-xs-12">
  <a href="{% url 'stock:consum-storeitem-by-type' consum.id type.grouper  %}">
        <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF">
          <div class="content text-center">
            <h1 style="font-size:5vmin">{% if type.grouper == "LD" %}<span> Longdrinks </span>
            {% elif type.grouper == "KRZ" %}<span> Kurzen/Shots </span>
              {% elif type.grouper == "AFGF" %}<span>AFG-Flaschen </span>
                {% elif type.grouper == "BRF" %}<span> Bierflasche</span>
                  {% elif type.grouper == "AFG" %}<span> Alkoholfrei </span>
                    {% elif type.grouper == "FLS" %}<span> Flaschen </span>
                    {% elif type.grouper == "DZ" %}<span> Dosen (Red Bull,...) </span>
                    {% elif type.grouper == "SKT" %}<span> Sekt </span>
                    {% endif %}

          </h1>
            </div>

          </div>
        </div>
  </a>


{% endfor %}




{% endblock %}




{% block consum_verview%}



<div class="jumbotron">




<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">


<div class="panel panel-primary">
<div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">

<h3 class="panel-title">
  Verzehr detail: &nbsp;&nbsp; <b>{{consum.user}}</b>

</h3>
<div class="actions pull-right">
  <i class="fa fa-chevron-down"></i>
  <i class="fa fa-times"></i>
</div>

</div>

<div class="panel-body" style="display:none;">


<table class="table table-responsive table-list table-hover">
<thead >
  <tr>
  <th>Getränk</th>
  <th class="text-center">Price</th>
  <th class="text-center">total</th>
  </tr>
</thead>
<tbody>
{% for item in consum.consummanager_set.all %}
<tr>
  <td >
    <span>{{item.storeitem.name}}</span>
  </td>
  <td class="text-center">
    <span>{{item.storeitem.price}}</span>
  </td>
  <td class="text-center">
    <span>{{item.on_consum}}</span>
  </td>
</tr>


{% endfor %}
</tbody>

</table>
</div>
</div>
</div>
</div>
{% endblock %}


{% endblock %}
