{% extends 'base.html'%}
{% load auth_extra %}

{% block logo %}
<a href="{% url 'stock:consum-store' event.id %}" class="logo"><span>Blau</span>NC</a>

{% endblock%}



{% block left-side-bar %}





<div class="tab-wrapper tab-primary" style="margin-left:10px; margin-top:10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Personal" data-toggle="tab">Verzehr</a>
        </li>
        <li><a href="#Ausgaben" data-toggle="tab">Ausgaben</a>
        </li>
    </ul>





<div class="tab-content">
  <div class="tab-pane active" id="Personal">
{% for consum in consum_list %}
{% if consum.user|has_group:"CHEF"%}
<div class="col-md-3 col-sm-3" >
  <a href="{% url 'stock:consum-item' consum.id %}">
  <div class="dashboard-tile detail" style="background-color:#a32e2e; color:#FFF; margin-top:20px">
    <div class="content">
      <h2>{{consum.user.username}}</h2>
      <h3>{{consum.sum}}&nbsp;€ </h3>



    </div>
    <div class="icon">
      <i>{{consum.user.username}}</i>

    </div>

  </div>
  </a>



</div>

{% elif consum.user|has_group:"PRIV"%}
<div class="col-md-3 col-sm-3" >
  <a href="{% url 'stock:consum-item' consum.id %}">
  <div class="dashboard-tile detail" style="background-color:#0a4d85; color:#FFF; margin-top:20px">
    <div class="content">
      <h2>{{consum.user.username}}</h2>
      <h3>{{consum.sum}}&nbsp;€ </h3>



    </div>
    <div class="icon">
      <i>{{consum.user.username}}</i>

    </div>

  </div>
  </a>

</div>

{% elif consum.user|has_group:"SECURITY"%}
<div class="col-md-3 col-sm-3" >
  <a href="{% url 'stock:consum-item' consum.id %}">
  <div class="dashboard-tile detail" style="background-color:#000000; color:#FFF; margin-top:20px">
    <div class="content">
      <h2>{{consum.user.username}}</h2>
      <h3>{{consum.sum}}&nbsp;€ </h3>



    </div>
    <div class="icon">
      <i>{{consum.user.username}}</i>

    </div>

  </div>
  </a>

</div>

{% else %}
{% if consum.role == "DJ" %}
<div class="col-md-3 col-sm-3" >
  <a href="{% url 'stock:consum-item' consum.id %}">
  <div class="dashboard-tile detail" style="background-color:#c8d711; color:#FFF; margin-top:20px">
    <div class="content">
      <h2>{{consum.user.username}}</h2>
      <h3>{{consum.sum}}&nbsp;€ </h3>



    </div>
    <div class="icon">
      <i>{{consum.user.username}}</i>

    </div>

  </div>
  </a>



</div>
{% else %}
<div class="col-md-3 col-sm-3" >
  <a href="{% url 'stock:consum-item' consum.id %}">
  <div class="dashboard-tile detail" style="background-color:#2cbb25; color:#FFF; margin-top:20px">
    <div class="content">
      <h2>{{consum.user.username}}</h2>
      <h3>{{consum.sum}}&nbsp;€ </h3>



    </div>
    <div class="icon">
      <i>{{consum.user.username}}</i>

    </div>

  </div>
  </a>



</div>
{% endif %}
{% endif %}
{% endfor %}
</div>
  <div class="tab-pane active" id="Ausgaben">
  </div>
</div>
</div>

{% endblock %}
