

{% if event.begin == False and event.end == False %}
<div class="container" style="padding-top:20px;">
<form action="{% url 'stock:event-begin' event.id %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-success btn-lg btn-block">Schicht Begin</button>

</form>
</div>


{% elif event.begin == True and event.end == False %}






<div class="col-md-5">
  <a href="#">
  <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF; margin-top:20px">
    <div class="content">
      <h1>Kasse</h1>


    </div>
    <div class="icon">
      <i> Kasse</i>

    </div>

  </div>
  </a>



</div>




<div class="col-md-5 col-md-offset-0">
  <a href="{% url 'stock:consum-store' event.id %}">
  <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF; margin-top:20px">
    <div class="content">
      <h1>Personal verzehr</h1>


    </div>
    <div class="icon">
      <i>Personal verzehr</i>

    </div>

  </div>
  </a>



</div>






{% endif %}
