{% extends 'stock/store_templates/consum_item.html'%}



<br><br>

{% block consum_body %}

<div class="container">


<div class="row">
{% for item in storeitems %}



<div class="col-md-4 col-sm-4 " style="margin-top:20px">
  <a id="itemBtn" role="button" class="btn btn-primary btn-block btn-3d"
					                     href="#"
							                 onclick="addItem({{ item.id }},{{consum.id}});" onmousedown="redOnMouseDown();">
				                        {{ item.name }}<br>&euro;{{ item.price }}
                            </a>

</div>




{% endfor %}
</div>
</div>

<hr><hr>




<div class="container" style="padding-top:20px">



<a href="{% url 'stock:consum-item' consum.id %}" type="button" class="btn btn-group-justified btn-3d btn-danger"><span class="fa fa-arrow-left"></span></a>

</div>



{% endblock %}
