{% extends 'base.html'%}


{% load auth_extra %}




{% block body %}
{% if event.event_is_past %}

  {% include 'stock/event_templates/event_past.html' %}


{% else %}
  {% if request.user|has_group:"admins" %}
  <div class="well-lg">
    <h1 class="text-center" style="color:#1b819d;">{{event.name}}</h1>



  </div>
          <div class="container-fluid">
            {% if event.rolemanager_set.all %}
              <div class="col-md-12">
                   <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Mitarbeiter</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Role</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for user in event.rolemanager_set.all %}
                        <tr>
                          <td>{{user.user.username}}</td>

                          <td>{% if user.role == "THK" %}
                            {{user.store}}
                            {% else %}
                            {{user.role}}
                            {% endif%}
                          </td>
                          <td class="text-right">
                            <form action="{% url 'stock:role-delete' user.id %}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <input type="hidden" name="item_id" value="{{ user.id }}"/>
                              <button type="submit" class="btn btn-danger btn-xs" >
                                <span class="fa fa-trash-o"></span>
                              </button>

                          </form>
                        </td>


                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h3 class="text-center">Zu dieser Veranstaltung ist keiner Mitarbeiter hinzugefügt</h3>
                <p></p>

            </div>


            {% endif %}
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <form action="{% url 'stock:event-delete' event.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ event.id }}"/>

                      <button type="submit" class="btn btn-danger btn-3d " > Entfernen
                        <span class="fa fa-trash-o"></span>
                      </button>
                      </form>
                </div>



            <div class="btn-group">
              <button type="button" class="btn btn-primary  btn-3d js-create-role" data-url="{% url 'stock:role-create' event.id  %}" >Mitarbeiter hinzufügen &nbsp; <span class="fa fa-plus"></span></button>


            </div>






            </div>
            <div id="modal-role" class="modal fade" >
              <div class="modal-dialog">
                <div class="modal-content">
                </div>
              </div>
          </div>





          {% if event.begin == False and event.end == False %}



          <div class="btn-group btn-group-justified" style="margin-top:20px;">


            <div class="btn-group">


          <form action="{% url 'stock:event-begin' event.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-success btn-lg btn-3d">Schicht Begin</button>

          </form>
            </div>
          </div>



          {% elif event.begin == True and event.end == False %}




          <div class="btn-group btn-group-justified" style="margin-top:20px" >


            <div class="btn-group">


          <form action="{% url 'stock:event-end' event.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-danger btn-lg btn-3d">Schicht ende</button>

          </form>
            </div>
          </div>
        </div>

          {% endif %}








  {% else %}
    {% for role in event.rolemanager_set.all %}
      {% if request.user == role.user %}
        {% if role.role == "THK" %}
          {% include 'stock/store_templates/store_thk.html' %}
        {% elif role.role == "CVD" or role.role == "CVD_LOG" %}
          {% include 'stock/cvd_view.html' %}
        {% elif role.role == "LOG" %}
          {% include 'stock/log_view.html' %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}



{% endif %}
{% endblock %}
