{% load auth_extra %}
{% if request.user|has_group:"admins" %}




<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
      <h3 class="panel-title">{{event.name}}&nbsp;{{event.date}}</h3>



      </div>

    <div class="panel-body">
      <table class="table table-responsive table-list table-hover">
        <thead>
          <tr>
            <th>Mitarbeiter</th>
            <th>sum</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for consum in event.consum_set.all %}
          <tr>


            <td>{{consum.user}}</td>
            <td>{{consum.sum}}</td>
            <td>
              <a href="#" data-toggle="modal" data-target="#{{consum.id}}"><span class="fa fa-info-circle" style="color:#1b819d;"></span></a>
              <div class="modal fade" id="{{consum.id}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h2 class="modal-title">{{consum.user.username}}</h2>
                    </div>
                    <div class="modal-body">
                      <table class="table table-responsive table-list table-hover">
                        <thead>
                          <tr>
                            <th>Artikel</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in consum.consummanager_set.all %}
                          {% if item.on_consum != 0%}
                          <tr>
                            <td>{{item}}</td>
                            <td>{{item.on_consum}}</td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>

              </div>
            </td>
          </tr>







          {% endfor %}
          <tr>
            <td><b>summe</b></td>
            <td><b>{{event.total_personal_consum}}&nbsp;&euro;</b></td>
          </tr>
        </tbody>

      </table>


    </div>

  </div>

</div>


<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
        <h3 class="panel-title">Verkauf</h3>

    </div>
    <div class="panel-body">
      <table class="table table-responsive table-list table-hover">
        <thead>
          <tr>
            <th>Artikel</th>
            <th>Menge in Geb.</th>
            <th>Menge in Ein.</th>
            <th>~Umsatz</th>
          </tr>
        </thead>
        <tbody>
          {% for event_log in event.eventlog_set.all %}


          <tr>
            <td>{{event_log.item.name}}</td>
            <td>{{event_log.c_filled}}</td>
            <td>{{event_log.u_filled}}</td>
            <td>{{event_log.sales}}</td>


          </tr>
          {% endfor %}
        </tbody>


    </div>


  </div>


</div>
{% endif %}
