{% extends 'base.html' %}


{% load auth_extra %}


{% block journal-menu %}
<li class="active">
    <a href="{% url 'stock:journal' %}" title="Journal">
        <i class="fa fa-file-text"></i> Journal
    </a>

</li>
{% endblock %}


{% block body %}
<!--
  <div class="container">
    <div class="col-md-6 col-sm-12" id="view-mail-wrapper">
        <div class="panel">
            <div class="panel-body">
                <header>
                    <h2>UX Perspective</h2>
                    <p class="pull-right">Today, April 20, 2:45 PM</p>
                </header>
                <div class="row view-mail-header">
                    <div class="col-md-8 ">
                        <img src="assets/img/avatar4.gif" alt="" class="img-circle">
                        <strong><a href="#">Ivan Bella</a></strong> to <a href="#">Me</a>
                    </div>
                    <div class="col-md-4">
                        <div class="view-mail-reply pull-right">
                            <button class="btn btn-sm btn-primary"><i class="fa fa-reply"></i> Reply</button>
                            <button class="btn  btn-sm btn-default tooltips" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i>
                            </button>
                            <button class="btn btn-default btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="Trash"><i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="panel view-mail-body">
                            <div class="panel-body">
                                <p>Hello Mike,</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                                    ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                    eum fugiat quo voluptas nulla pariatur?</p>
                                <p>Regards,
                                    <br>Ivan Bella</p>
                            </div>
                            <div class="panel-footer">
                                <h5>Attchments (1 file, 15.3 KB)</h5>
                                <br>
                                <span class="label label-default">Photoshop</span>
                                <a href="#"><span class="attchments">mockups.psd</span></a>
                                <button class="btn btn-sm btn-primary pull-right">Download</button>
                                <button class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i> Share</button>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

  </div>


-->

{% endblock %}
