{% extends 'base.html'%}


{% load auth_extra %}

{% block logo %}
<a href="{% url 'stock:store-log' fill_obj.id %}" class="logo"><span>Blau</span>LOG</a>
{% endblock%}





{% block left-side-bar %}

<div class="container-fluid">
{% regroup store.items.all|dictsort:"type" by type as item_by_type %}


{% for type in item_by_type%}



  <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:20px; ">
  <a href="{% url 'stock:fill-obj-fill' store.id fill_obj.id type.grouper %}">
        <div class="dashboard-tile detail" style="background-color:{{store.color}}; color:#FFF">
          <div class="content">

            <h1>{% if type.grouper == "AFG" %}<span> AFG </span>
                {% elif type.grouper == "BRF" %}<span> Bierlager</span>
                    {% elif type.grouper == "MIX" %}<span> Lounge Spezial </span>

                    {% elif type.grouper == "SP" %}<span> Spirituosen </span>
                    {% endif %}</h1>
            </div>
            <div class="icon">
              <i> {{type.grouper}}</i>

            </div>

          </div>

  </a>
  </div>


{% endfor %}
</div>



{% if fill_obj.fillmanager_set.all %}
<div class="container" style="margin-top:20px;">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
      <h3 class="panel-title">
        Verlauf
      </h3>
      <div class="actions pull-right">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times"></i>
      </div>
    </div>
  <div class="panel-body">
    <table class="table table-responsive table-list table-hover">
      <thead>
        <th>Artikel</th>
        <th>Container</th>
        <th>unit</th>
        <th class="text-right">delete</th>
      </thead>
      <tbody data-link="row" class="rowlink">
        {% for fill_man in fill_obj.fillmanager_set.all %}
        {% if fill_man.store == store %}
    <tr>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.name }}</span>
      </td>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.container}}</span>
      </td>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.unit}}</span>
      </td>
      <td class="text-right">
        <form action="{% url 'stock:fill_man-delete' fill_man.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ item.id }}"/>
          <button type="submit" class="btn btn-danger btn-xs" >
            <span class="fa fa-trash-o"></span>
          </button>

      </form>
    </td>

    </tr>
    {% endif %}
    {% endfor %}
      </tbody>

      </table>

</div>
</div>


</div>
{% endif %}




{% endblock %}
