{% extends 'base.html'%}


{% load auth_extra %}

{% block logo %}
<a href="{% url 'stock:store-log' fill_obj.id %}" class="logo"><span>Blau</span>LOG</a>
{% endblock%}




{% block left-side-bar %}

<div class="col-md-12" style="margin-top:20px ">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
      <h3 class="panel-title">
        {% if type == "BRF"%}
        Bierflaschen :
        {% elif type == "WW" %}
        Weisswein :
        {% elif type == "RW" %}
        Rotwein :
        {% elif type == "SP" %}
        Spirituosen :
        {% elif type == "BR" %}
        Bier:
        {% elif type == "AFG" %}
        Alkoholfrei :
        {% elif type == "MIX" %}
        Zum mixen :
        {% endif%}
      </h3>
      <div class="actions pull-right">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times"></i>
      </div>
    </div>
  <div class="panel-body">
    <table class="table table-responsive table-list table-hover">
      <tbody data-link="row" class="rowlink">
        {% for item in items|dictsort:"first_letter" %}
        {% for storeman in item.storemanager_set.all %}
        {% if storeman.store == store %}

    <tr>
      <td class="align-middle"  >
        <a href="{% url 'stock:item-fill' storeman.id fill_obj.id %}" style="color:#10646a;">
        <span></span>{{storeman.item.name}}</span>
      </a>
      <div class="modal fade" id="modal-itemFill">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>

      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
      </tbody>

      </table>

</div>
</div>
</div>




{% endblock %}
