{% extends 'base.html' %}

{% load auth_extra %}

{% block logo %}
<a href="{% url 'stock:store-log' fill_obj.id %}" class="logo"><span>Blau</span>LOG</a>

{% endblock%}


{% block left-side-bar %}

<div class="container-fluid">
{% for store in all_stores %}





<div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:20px;">
  <a href="{% url 'stock:store-detail-log' store.id fill_obj.id %}">
  <div class="dashboard-tile detail" style="background-color:{{store.color}}; color:#FFF; margin-top:20px">
    <div class="content">
      <h1>{{store.name}}</h1>
      <p>Auffüll vorgänge:</p>
      <p class="text-left timer" data-from="0" data-to="25" data-speed="250"></p>

    </div>
    <div class="icon">
      <i> {{store.name}}</i>

    </div>

  </div>
  </a>

</div>


{% endfor %}

</div>


{% if fill_obj.fillmanager_set.all %}

<div class="container" style="margin-top:20px;">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
      <h3 class="panel-title">
        Verlauf
      </h3>
      <div class="actions pull-right">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times"></i>
      </div>
    </div>
  <div class="panel-body">
    <table class="table table-responsive table-list table-hover">
      <thead>
        <th>Artikel</th>
        <th>Container</th>
        <th>unit</th>
      </thead>
      <tbody data-link="row" class="rowlink">
        {% for fill_man in fill_obj.fillmanager_set.all %}
    <tr>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.name }}</span>
      </td>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.container}}</span>
      </td>
      <td class="align-middle"  >
        <span style="color:#10646a;">{{fill_man.unit}}</span>
      </td>
      <td class="text-right">
        <span style="color:#10646a;">{{fill_man.store.name}}</span>
      </td>


    </tr>
    {% endfor %}
      </tbody>

      </table>

</div>
</div>


</div>
{% endif %}



{% for role in fill_obj.event.rolemanager_set.all %}
  {% if request.user == role.user and role.role == 'CVD_LOG' %}

  {% if fill_obj.event.begin == True and fill_obj.event.end == False %}

  <div class="container">



  <form action="{% url 'stock:event-end' fill_obj.event.id %}" method="post">
    {% csrf_token %}
    <button type="submit" name="button" class="btn btn-danger btn-lg btn-block">Schicht Ende</button>

  </form>
  </div>



  {% endif %}

  {% endif %}
  {% endfor %}





{% endblock %}
