
  {% load widget_tweaks %}
<form method="post" action="{% url 'stock:additemtostore' form.instance.pk %}" class="js-itemToStore-fill-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">


    {{form.instance.item.name}}

  </h2>
  </div>
  <div class="modal-body">


  {% for field in form %}
  {% if field.label != 'Item' %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class="form-control" %}
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">add</button>
  </div>
</form>
