<div class="modal fade" id="confirmorder">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Bestellung bestätigen</h3>
        </div>
        <div class="modal-body">
		        <h5 class="text-center">{{stock.name}}</h5>
            <table class="table table-striped" id="tblGrid">
              <thead id="tblHead">
                <tr>
                  <th>Artikel</th>
                  <th class="text-center">Bestellmenge</th>
                </tr>
              </thead>
              <tbody>
                {% for item in stock.item_set.all %}
                {% if item.to_order != 0%}
                <tr>
                  <td>{{item.name}}</td>
                  <td class="text-center">{{item.to_order}}</td>
                </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <div class="form-group">
            <input class="btn btn-warning btn-sm pull-right" value="Reset" type="button">
            <div class="clearfix"></div>
          </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
