

{% if role.role == "CVD_LOG" %}
  <div class="container">
    {% for fill_obj in event.fillobject_set.all %}
     {% if fill_obj.user == request.user %}
          <a href="{% url 'stock:store-log' fill_obj.id %}" title="Logistik">
            <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF; margin-top:20px">
              <div class="content">
                <h1>Logistik</h1>




              </div>
              <div class="icon">
                <i class="fa fa-truck"></i>

              </div>

            </div>
        </a>
        {% endif %}
        {% endfor %}


    </div>
{% endif %}

{% if event.begin == False and event.end == False %}
<div class="container" style="padding-top:20px;">
<form action="{% url 'stock:event-begin' event.id %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-success btn-lg btn-block">Schicht Begin</button>

</form>
</div>


{% elif event.begin == True and event.end == False %}

<div class="container">



<form action="{% url 'stock:event-end' event.id %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-danger btn-lg btn-block">Schicht Ende</button>

</form>
</div>



{% endif %}
