{% extends 'base.html' %}





{% block body %}

  {% regroup stock.item_set.all|dictsort:"type" by type as item_by_type %}

<form action="{% url 'stock:delivery-save' stock.id %}" method="post">
  {% csrf_token %}

{% for type in item_by_type%}
<div class="col-md-12">


  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">
      <h3 class="panel-title">
        {% if type.grouper == "BRF"%}
        Bierflaschen :
        {% elif type.grouper == "WW" %}
        Weisswein :
        {% elif type.grouper == "RW" %}
        Rotwein :
        {% elif type.grouper == "SP" %}
        Spirituosen :
        {% elif type.grouper == "BR" %}
        Bier:
        {% elif type.grouper == "AFG" %}
        Alkoholfrei :
        {% elif type.grouper == "MIX" %}
        Zum mixen :
        {% endif%}
      </h3>
      <div class="actions pull-right">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times"></i>
      </div>


    </div>


    <div class="panel-body" style="display:none;">
      <table class="table table-responsive table-list table-hover">
        <thead>
          <tr>
            <th>Artikel: </th>
            <th>Gebinde: </th>
          </tr>
        </thead>
        <tbody>
          {% for item in type.list|dictsort:"first_letter" %}
            <tr>
              <td> <input type="hidden" name="item" value="{{item.id}}">  {{item.name}}</td>
              <td><input type="text" name="delivery-{{item.id}}" value="0"></td>

            </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>


  </div>


</div>

  {% endfor %}

  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="submit" class="btn btn-info btn-3d"><h4 class="text-center"><span class="fa fa-save"></span>&nbsp; Speichern</h4></button>

    </div>

  </div>



</form>
{% endblock %}
