{% extends 'index.html' %}


{% block bodyindex %}



<div class="container-fluid" style="padding-top:100px">
  <div class="panel panel-default panel-table">
    <div class="panel-title text-center">

      <h3 style="color:rgb(37, 29, 42);"> {{fillobject}}</h3>

    </div>
    <div class="panel-body">
      <table class="table table-responsive table-list table-hover">
        <thead>
          <tr>
            <th><b>Artikel</b></th>
            <th><b>Menge</b></th>
          </tr>
        </thead>
        <br>
        <tbody data-link="row" class="rowlink">


        {% for item in fillobject.fillmanager_set.all %}

        <tr>
          <td><b>{{item.item.name}}</b></a></td>

          <td>{{item.to_fill}}</td>
        </tr>


        {% endfor %}

        </tbody>
      </table>

    </div>

    <div class="panel-footer">

      {% if fillobject.filled == False %}
      <div class="btn-group btn-group-justified">
      <a href="{% url 'stock:fill-object-confirm' fillobject.id %}" class="btn btn-danger" ><h4 class="text-center">Auffüllen&nbsp <span class="fa fa-shopping-cart"></span></h4></a>

      </div>
      {% endif %}
    </div>

  </div>



</div>


{% endblock %}
