{% extends 'base.html'%}

{% block logo %}
<a href="{% url 'stock:store-log' fill_obj.id %}" class="logo"><span>Blau</span>LOG</a>
{% endblock%}


{% block left-side-bar %}


<div class="container-fluid" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default" >
        <div class="panel-body">


            <form class="form-horizontal" action="" method="post">
                {%  csrf_token %}
                  {% include 'stock/form-template.html'%}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 text-right">
                      <button type="submit" class="btn btn-success">Submit</button>

                    </div>

                  </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
