{% extends 'index.html'%}







{% block bodyindex %}

<div class="container-fluid" style="padding-top:10px">
  <section id="plans">
         <div class="container">
             <div class="row">

{% for fill_obj in store.fillobject_set.all %}

<div class="col-md-4 text-center">
      <div class="panel panel-success panel-pricing">

      <a href="{% url 'stock:fill-object-detail' fill_obj.id %}"> <div class="panel-heading">
            <h4>{{fill_obj}}</h4>
        </div>
        </a>

        <ul class="list-group text-center">
            <li class="list-group-item"> {{fill_obj.user}}</li>
            {% if fill_obj.filled == False %}
            <li class="list-group-item" style="color:RED"><span class="fa fa-close"></span>&nbsp&nbsp Nicht Bestätigt &nbsp</li>
            {% else %}
            <li class="list-group-item"><span class="fa fa-check ^">&nbsp&nbsp Bestätigt &nbsp </li>
            {% endif %}
        </ul>
        <div class="panel-footer">
          {% if fill_obj.filled == False %}
            <a class="btn btn-lg btn-block btn-danger" href="{% url 'stock:fill-object-confirm' fill_obj.id %}">Bestätigen</a>
            {% endif %}
            <br>
        </div>
    </div>
</div>





{% endfor %}
      </div>
    </div>
  </section>
</div>


{% endblock %}
