{% for field in form %}
<div class="form-group" style="padding-top: 20px; padding-left: 50px">


  <label class="control-label col-sm-2">{{field.label_tag}}</label>
  <div class="col-sm-10">
    {{ field }}
    <span style="color:RED;"> {{field.errors}}</span>


  </div>



</div>

{% endfor %}
