

<div class="container-fluid">
  <ul class="list-group" >

    <li class="list-group-item"><b>Type :</b> {{item.get_type_display}}</li>
    <li class="list-group-item"><b>Grösse :</b> {{item.get_size_display}}</li>

  </ul>

</div>
