


{% if event.begin == True and event.end == False %}


<div class="container">
      {% for fill_obj in event.fillobject_set.all %}
       {% if fill_obj.user == request.user %}
       <div class="col-md-8 col-md-offset-2">


        <a href="{% url 'stock:store-log' fill_obj.id %}" title="Logistik">
          <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF; margin-top:20px">
            <div class="content">
              <h1>Logistik</h1>




            </div>
            <div class="icon">
              <i class="fa fa-truck"></i>

            </div>

          </div>
      </a>
       </div>
      {% endif %}
      {% endfor %}

  </div>

{% endif %}
