{% extends 'base.html'%}




{% load auth_extra %}


{% block MNU-Menu%}
<li class="active">
    <a href="{% url 'stock:menu-overview' %}" title="menu">
        <i class="fa fa-beer"></i> Menu (Karte)
    </a>
</li>
{% endblock %}



{% block body%}







{% for menu in all_menus %}



<div class="col-md-6">
  <a href="{% url 'stock:menu-detail' menu.id %}">
  <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF">
    <div class="content">
      <h1 class="text-left timer" data-from="0" data-to={{menu.item_set.count}} data-speed="250">{{menu.name}}</h1>


    </div>
    <div class="icon">
      <i class="fa fa-align-justify"></i>

    </div>

  </div>
  </a>

</div>


{% endfor %}


<hr>
<hr>
<div class="text-center">


  <button type="button" class="btn btn-primary btn-block btn-3d js-create-menu" data-url="{% url 'stock:menu-create' %}" >Neue Karte &nbsp; <span class="fa fa-plus"></span></button>


  <div id="modal-menu" class="modal fade" >
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
</div>







{% endblock %}
