{% extends 'base.html' %}





{% block body %}


{% if menu.storeitem_set.all %}




                {% regroup menu.storeitem_set.all|dictsort:"type" by type as item_by_type %}

                {% for type in item_by_type%}
                <div class="col-md-12">


            <div class="panel panel-primary">
              <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">

                <h3 class="panel-title">
                  {% if type.grouper == "BRF"%}
                  Bierflaschen :
                  {% elif type.grouper == "LD" %}
                  Long drinks :
                  {% elif type.grouper == "KRZ" %}
                  kurze/shots :
                  {% elif type.grouper == "AFG" %}
                  Alkoholfrei :
                  {% elif type.grouper == "FLS" %}
                  Flaschen :
                  {% elif type.grouper == "AFF" %}
                  AFG-Flaschen :
                  {% elif type.grouper == "DZ" %}
                  Dosen (Red Bull,...) :
                  {% elif type.grouper == "SKT" %}
                   Sekt :
                  {% endif%}
                </h3>
                <div class="actions pull-right">
                  <i class="fa fa-chevron-down"></i>
                  <i class="fa fa-times"></i>
                </div>

              </div>

            <div class="panel-body" style="display:none;">


              <table class="table table-responsive table-list table-hover">
                <thead >
                  <tr>
                  <th>Sorte</th>
                  <th class="text-center">Price</th>
                  <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for item in type.list%}
                <tr>
                  <td>
                    <span>{{item.name}}</span>
                  </td>
                  <td class="text-center">
                    <span>{{item.price}}&euro;</span>
                  </td>
                  <td>
                    <a href="{% url 'stock:delete-menu-item' item.id %}"><span class="fa fa-trash-o pull-right" style="color:RED;"></span></a>   
                  </td>
                </tr>


                {% endfor %}
              </tbody>

              </table>
            </div>
          </div>
        </div>

                {% endfor %}
                {% else %}
                <div class="alert alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h3 class="text-center">Karte ist leer!</h3>
                    <p></p>

                </div>
                {% endif %}



              <button type="button" class="btn btn-primary btn-block btn-3d js-create-storeitem" data-url="{% url 'stock:storeitem-create' %}" >Artikel hinzufüGEN &nbsp; <span class="fa fa-plus"></span></button>

            <div id="modal-storeitem" class="modal fade" >
              <div class="modal-dialog">
                <div class="modal-content">
                </div>
              </div>
          </div>












{% endblock %}
