
{% extends 'base.html' %}





{% block body %}

<!--<form action="{% url 'stock:delivery-enter' stock.id%}" method="post"> -->
{% if stock.item_set.all %}






                {% regroup stock.item_set.all|dictsort:"type" by type as item_by_type %}

                {% for type in item_by_type%}
        <div class="col-md-12">


            <div class="panel panel-primary">
              <div class="panel-heading" style="background-color:#1b819d; border-bottom:5px solid #18758f;">

                <h3 class="panel-title">
                  {% if type.grouper == "BRF"%}
                  Bierflaschen :
                  {% elif type.grouper == "WW" %}
                  Weisswein :
                  {% elif type.grouper == "RW" %}
                  Rotwein :
                  {% elif type.grouper == "SP" %}
                  Spirituosen :
                  {% elif type.grouper == "BR" %}
                  Bier:
                  {% elif type.grouper == "AFG" %}
                  Alkoholfrei :
                  {% elif type.grouper == "MIX" %}
                  Zum mixen :
                  {% endif%}
                </h3>
                <div class="actions pull-right">
                  <i class="fa fa-chevron-down"></i>
                  <i class="fa fa-times"></i>
                </div>

              </div>

            <div class="panel-body" style="display:none;">


              <table class="table table-responsive table-list table-hover">
                <thead >
                  <tr>
                  <th></th>
                  <th>Sorte</th>
                  <th>Im Lager</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  </tr>
                </thead>
                <tbody>



                {% for item in type.list|dictsort:"first_letter" %}
                <tr>
                  <td><input type="checkbox" name="delivered" id="option{{item.id}}" value={{item.id}} ></td>
                  <td >{% if item.on_stock < item.on_stock_min  %}
                    <span style="color:#b13633;">{{item.name}}</span>{% else %}
                    {{item.name}}
                    {% endif %}</td>
                  <td>{% if item.on_stock < item.on_stock_min  %}
                    <span style="color:#b13633;">{{item.on_stock}}</span>
                    {% else %}
                    {{item.on_stock}}
                    {% endif %}</td>
                  <td>{% if item.on_stock < item.on_stock_min  %}
                    <a href="#" data-toggle="popover" data-content="Mindestbestand : {{item.on_stock_min}}" class="fa fa-exclamation-triangle" area-hidde="true" style="color:#b13633;"></a>
                    {% endif %}
                  </td>
                  <td class="text-right"><a href="{% url 'stock:item-update' item.id %}">{% if item.on_stock < item.on_stock_min  %}<em class="fa fa-pencil" style="color: #b13633;"></em>
                  {% else %}
                  <em class="fa fa-pencil" style="color:#1b819d">
                  {% endif %}</a></td>
                  <td class="text-right">
                    {% if item.on_stock < item.on_stock_min  %}
                    <a href="#"><span class="fa fa-shopping-cart" style="color:#b13633;"></span></a>
                    {%endif%}
                  </td>
                  <td class="text-right">
                    <form action="{% url 'stock:item-delete' item.id %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <input type="hidden" name="item_id" value="{{ item.id }}"/>
                      <button type="submit" class="btn btn-danger btn-xs" >
                        <span class="fa fa-trash-o"></span>
                      </button>

                  </form>
                </td>
                </tr>


                {% endfor %}

              </tbody>

              </table>
            </div>
          </div>
        </div>

                {% endfor %}
                {% else %}
                <div class="alert alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h3 class="text-center">Lager ist leer!</h3>
                    <p></p>

                </div>
                {% endif %}



            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                  <a href="{% url 'stock:delivery-enter' stock.id %}" class="btn btn-info btn-3d"><h4 class="text-center"><span class="fa fa-exchange"></span>&nbsp;  Liferung </h4></a>
              </div>
              <div class="btn-group">
                <a href="#" class="btn btn-primary btn-3d" ><h4 class="text-center"><span class="fa fa-shopping-cart"></span>&nbsp;  Bestellen </h4></a>
              </div>
              <div class="btn-group">
                <button  type="button" class="btn btn-danger btn-3d js-create-item" data-url="{% url 'stock:item-create' stock.id %}"><h4 class="text-center"><span class="fa fa-plus"></span>&nbsp;  Artikel hinzufügen </h4></button>
              </div>
              <div class="btn-group">
                <a href="{% url 'stock:export-to-xls' stock.id %}"  class="btn btn-primary btn-3d "><h4 class="text-center"><span class="fa fa-file"></span>&nbsp;  Export to XLS </h4></a>
              </div>
            </div>







            <div id="modal-item" class="modal fade" >
              <div class="modal-dialog">
                <div class="modal-content">
                </div>
              </div>
          </div>






{% endblock %}
