{% extends 'base.html'%}




{% load auth_extra %}



{% block STK-Menu %}
<li class="active">
    <a href="{% url 'stock:stockoverview' %}" title="Lager">
        <i class="icon-chemistry"></i> Lager management
    </a>

</li>
{% endblock %}

{% block body%}







{% for stock in all_stocks %}



<div class="col-md-6">
  <a href="{% url 'stock:details' stock.id%}">
  <div class="dashboard-tile detail" style="background-color:#1b819d; color:#FFF">
    <div class="content">
      <h1 class="text-left timer" data-from="0" data-to={{stock.item_set.count}} data-speed="250">{{stock.name}}</h1>
      <p></p>

    </div>
    <div class="icon">
      <i class="fa fa-align-justify"></i>

    </div>

  </div>
  </a>

</div>


{% endfor %}


<hr>
<hr>
<div class="text-center">


  <button type="button" class="btn btn-primary btn-block btn-3d js-create-stock" data-url="{% url 'stock:stock-create' %}" >Neue Lage &nbsp <span class="fa fa-plus"></span></button>


  <div id="modal-stock" class="modal fade" >
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
</div>







{% endblock %}
