{% extends 'base.html'%}

{% load staticfiles %}
{% load auth_extra %}




{% block THK-Menu %}
<li class="active">
  <a href="{% url 'stock:storeoverview' %}" title="Theken">
    <i class="fa fa-align-justify"></i> Theken management
  </a>
</li>
{% endblock%}

{% block body%}



    {% for store in all_stores %}



    <div class="col-md-4">
      <a href="{% url 'stock:store-detail' store.id%}">
      <div class="dashboard-tile detail" style="background-color:{{store.color}}; color:#FFF">
        <div class="content">
          <h1>{{store.name}}</h1>

          <h3 class="text-center timer" data-from="0" data-to="180" data-speed="2500">{{store.storemanager_set.count}} </h3>

        </div>
        <div class="icon">
          <i> {{store.name}}</i>

        </div>

      </div>
      </a>

    </div>

        {% endfor %}

        <hr>
        {% if request.user|has_group:"admins"%}
        <p>
          <button type="button" class="btn btn-primary btn-block js-store-create">Theke hinzügen <span class="fa fa-plus"></span></button>

</p>
{% endif %}

<div class="modal fade" id="modal-storecreate">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


</div>





{% endblock %}
