{% extends 'stock/index.html'%}



{% block bodyindex%}

<div class="container-fluid" style="padding-top: 20px; padding-left: 50px">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default" >
        <div class="panel-body">

          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% include 'stock/form-template.html'%}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>

              </div>

            </div>

          </form>

        </div>


      </div>

    </div>

  </div>

</div>




{% endblock %}
