{% extends 'stock/index.html'%}

{% load staticfiles %}
{% block javascript%}

<script src="{% static 'stock/javascript/js-updateItem.js' %}">

</script>
{% endblock %}



{% block bodyindex%}





<div class="container" style="padding-top: 20px; padding-left: 40px">


    <div class="panel panel-default panel-table">


      <div class="panel-body">
        <table class="table table-responsive table-list table-hover">

            {% regroup store.stock.item_set.all|dictsort:"type" by type as item_by_type %}

            {% for type in item_by_type%}
            <thead style="background-color:#92bce0; color: #FFFFFF">


            <tr>
            <th>

              {% if type.grouper == "BRF"%}
              Bierflaschen :
              {% elif type.grouper == "WW" %}
              Weisswein :
              {% elif type.grouper == "RW" %}
              Rotwein :
              {% elif type.grouper == "SP" %}
              Spirituosen :
              {% elif type.grouper == "BR" %}
              Bier:
              {% elif type.grouper == "AFG" %}
              Alkoholfrei :
              {% elif type.grouper == "MIX" %}
              Zum mixen :
              {% endif%}
            </th>
            <th></th>
           </tr>
          </thead>
          <thead style="background-color:#6aa3d5; color: #FFFFFF">
            <tr>
              <th>Sorte</th>
              <th></th>
            </tr>
            <tr>

            </tr>
          </thead>
          <tbody>



              {% for item in type.list %}

              {% for storeman in item.storemanager_set.all %}
              {% if storeman.store == store %}

            <tr>
              <td class="align-middle"  >

                <span  data-toggle="popover" title="<h4>{{storeman.item.name}}</h4>" data-content='{% include 'stock/item_id_card.html' %}'>{{storeman.item.name}}</span>

              </td>
              <td> <button id="btnAdd" type="button" class="btn js-store-fill pull-right " data-url="{% url 'stock:additemtostore' storeman.id %}" ><span class="fa fa-plus"></span></button>

              <div class="modal fade" id="modal-storefill">
                <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
              </div>
            </td>
            </tr>
            

            {% endif %}
            {% endfor %}
            {% endfor %}











          </tbody>



            {% endfor %}


        </table>



      </div>

    </div>

</div>

{% endblock %}
