{% extends 'base.html' %}


{% load staticfiles %}
{% load auth_extra %}




{% block THK-Menu %}
<li class="active">
    <a href="{% url 'stock:storeoverview' %}" title="Theken">
        <i class="fa fa-align-justify"></i> Theken management
      </a>
</li>
{% endblock %}


{% block body %}


    <h1 style="color:{{store.color}}" class="text-center">{{store.name}}</h1>

    <hr>















              {% regroup store.items.all|dictsort:"type" by type as item_by_type %}

              {% for type in item_by_type%}
            <div class="col-md-12">

              <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:{{store.color}}; border-bottom:5px solid {{store.color}};">
                  <h3 class="panel-title">
                {% if type.grouper == "BRF"%}
                Bierflaschen :
                {% elif type.grouper == "WW" %}
                Weisswein :
                {% elif type.grouper == "RW" %}
                Rotwein :
                {% elif type.grouper == "SP" %}
                Spirituosen :
                {% elif type.grouper == "BR" %}
                Bier:
                {% elif type.grouper == "AFG" %}
                Alkoholfrei :
                {% elif type.grouper == "MIX" %}
                Zum mixen :
                {% endif%}
              </h3>
              <div class="actions pull-right">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
              </div>
              </div>
              <div class="panel-body">
            <table class="table table-responsive table-list table-hover">
            <thead>
              <tr>
                <th>Sorte</th>
                <th>Bestand</th>
          <!--      <th>Fehlend</th>-->
                <th></th>

              </tr>
            </thead>
            <tbody>



                {% for item in type.list %}

                {% for storeman in item.storemanager_set.all %}
                {% if storeman.store == store %}
              <tr>
                <td class="align-middle"  >

                  <span>{{storeman.item.name}}</span>

                </td>
                <td><span>{{storeman.on_store}}</span> </td>
            <!--    <td><span>{{storeman.to_fill}}</span></td>-->
                <td>
                  {% if request.user|has_group:"admins" %}
                  <button id="btnEdit" type="button" class="btn js-itemToStore-fill pull-right " data-url="{% url 'stock:additemtostore' storeman.id %}" ><span class="fa fa-pencil"></span></button>

                  {% endif%}

                  <div class="modal fade" id="modal-itemToStoreFill">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      </div>
                    </div>
                  </div>
              </td>
              </tr>
              {% endif %}
              {% endfor %}

              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="btn-group">
          <a href="{% url 'stock:reset-store' store.id%}" type="button" class="btn btn-primary btn-3d"> Reset store</a>

        </div>
      </div>
    </div>














              {% endfor %}











{% endblock %}
