{% extends 'stock/index.html'%}



{% block bodyindex%}




<div class="list-group" style="padding-top: 20px; padding-left: 40px">


{% for supplier in all_supplier %}



<div class="list-item" >
  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#{{supplier.id}}">{{supplier.name}}</a>

</div>

  <div class="modal fade" id="{{supplier.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="modal-title">{{supplier.name}}</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>{{supplier.phone_number}}</li>
            <li>{{supplier.email}}</li>
          </ul>

        </div>

      </div>

    </div>

  </div>


{% endfor %}
<hr>

<!--TODO: supplier form in Modal-->

<div class="btn-group btn-group-justified">
  <a href="{% url 'stock:supplier-add' %}" class="btn btn-success"><h4 class="text-center"><span class="fa fa-plus"></span></h4></a>

</div>

</div>






{% endblock %}
