{% extends 'base.html'%}


{% load auth_extra %}



{% block calendar %}
<li class="active">
    <a href="{% url 'stock:calendar' %}" title="calendar">
        <i class="fa fa-calendar"></i> Calendar
      </a>
</li>
{% endblock %}




{% block body %}

                  <div class="col-md-offset-1 col-md-2" id="events" style=" background-color:#1b819d;">
                        <h2 id="calender-current-date"></h2>
                        {%if request.user|has_group:"admins"%}
                        <button  type="button" class="btn btn-primary btn-block js-create-event" data-url="{% url 'stock:event-create' %}"> Neuer Event &nbsp;<span class="fa fa-plus"></span></button>
                            {% endif %}
                    </div>

                    <div id="modal-event" class="modal fade" >
                      <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                      </div>
                  </div>


                    <div class="col-md-8" id="cal">
                        <div class="full-cal-header">
                            <div class="pull-left">
                                <div class="btn-group ">
                                    <button class="btn btn-info" id="cal-prev"><i class="fa fa-angle-left"></i>
                                    </button>
                                    <button class="btn btn-info" id="cal-next"><i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div data-toggle="buttons-radio" class="btn-group">
                                    <button class="btn " style="background-color:#1b819d; color:#ffffff" type="button" id="change-view-month">month</button>
                                    <button class="btn " style="background-color:#1b819d; color:#ffffff" type="button" id="change-view-week">week</button>
                                    <button class="btn " style="background-color:#1b819d; color:#ffffff" type="button" id="change-view-day">day</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id='calendar'></div>
                    </div>



{% endblock%}
