{% extends 'base.html'%}

{% load staticfiles %}
{% block static %}
<link rel="stylesheet" href="{% static 'stock/jasny-bootstrap.css'  %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'stock/javascript/js-itemFill.js' %}">

</script>
{% endblock %}

{% load auth_extra %}
{% load avatar_tags %}

{% block navbar %}
<nav id="myNavmenu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand" href="{% url 'home' %}">Blau</a>
  <ul class="nav navmenu-nav">

    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp <span class="fa fa-user"></span> &nbsp{{user.username}}<b class="caret"></b></a>
     <ul class="dropdown-menu navmenu-nav" role="menu">
       <li><a href="#"><span class="fa fa-user" ></span>&nbsp&nbsp Profil edition</a></li>
       <li class="divider"></li>
      <li><a href="{% url 'change-password' %}"><span class="glyphicon glyphicon-lock"></span>&nbsp&nbsp Change password</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp&nbsp Logout</a></li>
     </ul>
   </li>
    <li ><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>&nbsp&nbsp Home</a></li>
   {% if request.user|has_group:"admins" %}
   {% block thk-dropdown%}

    {% endblock %}
    {% else %}
    <li><a href="{% url 'stock:store-log' %}"><span class="glyphicon glyphicon-download-alt"></span>&nbsp&nbsp Theken</a></li>
    {% endif %}

  </ul>
</nav>
<div class="navbar navbar-inverse navbar-fixed-top" style="padding-left:10px;">
  <button type="button" class="navbar-toggle pull-left"  data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
{% endblock %}
