<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
    <html class="no-js">
    <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLAUNC</title>
    {% load staticfiles %}
    {% load auth_extra %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'stock/assets/css/simple-line-icons.css' %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/animate.css' %}">
    <!-- Switchery -->
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/switchery/switchery.min.css' %}">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'stock/datepicker/css/datepicker.css' %}">



    <link rel="stylesheet" href="{% static 'stock/assets/plugins/messenger/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/messenger/css/messenger-theme-flat.css' %}">
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/messenger/css/location-sel.css' %}">




      <link rel="stylesheet" href="{% static 'stock/assets/plugins/fullcalendar/css/fullcalendar.css' %}">


      <!--journa style-sheet
      <link rel="stylesheet" href="{% static 'stock/assets/css/journal.css' %}">
      -->

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
     <script src="{% static 'stock/assets/js/modernizr-2.6.2.min.js' %}"></script>
     <script type="text/javascript" src="/admin/jsi18n/"></script>




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js' ></script>
    <script src="assets/js/respond.min.js' %}></script>
    <![endif]-->
    </head>
<body class="off-canvas" ontouchstart="">
    <div id="container">
            <header id="header">
            <!--logo start-->
            <div class="brand">

                {% block logo %}<a href="{% url 'home' %}" class="logo"><span>Blau</span>NC</a>{% endblock %}
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="user-nav">
                <ul>
                     <li class="dropdown messages">
                        <span class="badge badge-danager animated bounceIn" id="new-messages">5</span>
                        <button type="button" class="btn btn-default dropdown-toggle options" id="toggle-mail" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <ul class="dropdown-menu alert animated fadeInDown">
                            <li>
                                <h1>You have <strong>5</strong> new messages</h1>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="profile-photo">
                                        <img src="{% static 'stock/assets/img/avatar.gif' %}" alt="" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                        <span class="sender">James Bagian</span>
                                        <span class="time">30 mins</span>
                                        <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="profile-photo">
                                        <img src="{% static 'stock/assets/img/avatar1.gif' %}" alt="" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                        <span class="sender">Jeffrey Ashby</span>
                                        <span class="time">2 hour</span>
                                        <div class="message-content">hendrerit pellentesque, iure tincidunt, faucibus vitae dolor aliquam...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="profile-photo">
                                        <img src="{% static 'stock/assets/img/avatar2.gif' %}" alt="" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                        <span class="sender">John Douey</span>
                                        <span class="time">3 hours</span>
                                        <div class="message-content">Penatibus suspendisse sit pellentesque eu accumsan condimentum nec...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="profile-photo">
                                        <img src="{% static 'stock/assets/img/avatar3.gif' %}" alt="" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                        <span class="sender">Ellen Baker</span>
                                        <span class="time">7 hours</span>
                                        <div class="message-content">Sem dapibus in, orci bibendum faucibus tellus, justo arcu...</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="profile-photo">
                                        <img src="{% static 'stock/assets/img/avatar4.gif' %}" alt="" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                        <span class="sender">Ivan Bella</span>
                                        <span class="time">6 hours</span>
                                        <div class="message-content">Curabitur metus faucibus sapien elit, ante molestie sapien...</div>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#">Check all messages <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>

                    </li>
                    <li class="profile-photo">
                        <img src="{% static 'stock/assets/img/avatar.png' %}" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="color:#1b819d;" href="#">
                      {{request.user}} <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-danager" id="user-inbox">5</span></a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                   <div class="toggle-navigation toggle-right">
                            <a href="#right-menu" class="btn btn-default" id="toggle-right">
                                <i class="fa fa-comment"></i>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </header>



        {% block left-side-bar %}
        <!--sidebar left start-->
        <nav class="sidebar sidebar-left">
             <h5 class="sidebar-header">Navigation</h5>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'home' %}" title="Dashboard">
                        <i class="icon-speedometer"></i> Dashboard
                    </a>
                </li>
                {% block journal-menu %}
                <li>

                    <a href="{% url 'stock:journal' %}" title="Journal">
                        <i class="fa fa-file-text"></i> Journal
                    </a>
                </li>
                {% endblock%}
                {% block STK-Menu %}
                {% if request.user|has_group:"admins" %}
                <li>
                    <a href="{% url 'stock:stockoverview' %}" title="Lager">
                        <i class="icon-chemistry"></i> Lager management
                    </a>

                </li>
                {% endif %}
                {% endblock %}
                {% block THK-Menu %}
                  {% if request.user|has_group:"admins" %}
                <li>
                    <a href="{% url 'stock:storeoverview' %}" title="Theken">
                        <i class="fa fa-align-justify"></i> Theken management
                      </a>
                </li>
                {% endif %}
                {% endblock %}
                {% block calendar %}
                <li>
                    <a href="{% url 'stock:calendar' %}" title="calendar">
                        <i class="fa fa-calendar"></i> Calendar
                      </a>
                </li>

                {% endblock %}
                {% block MNU-Menu%}
                {% if request.user|has_group:"admins" %}
                <li>
                    <a href="{% url 'stock:menu-overview' %}" title="menu">
                        <i class="fa fa-beer"></i> Menu (Karte)
                    </a>
                </li>
                {% endif %}
                {% endblock %}
                {% block REG-Menu%}
                {% if request.user|has_group:"admins" %}
                <li>
                    <a href="{% url 'register' %}" title="new user">
                        <i class="fa fa-plus"></i> Neuer Mitarbeiter
                    </a>
                </li>
                {% endif %}
                {% endblock %}


            </ul>
        </nav>
        {% endblock %}
        <!--sidebar left end-->


         <!--main content start-->
         <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        {% block body %}
                        {% block THK %}

                        {% endblock%}
                        {% if request.user|has_group:"admins" %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                  <canvas id="myConsum" width="400" height="200"></canvas>
                                </div>


                            </div>

                        </div>


                        {% endif %}


                        {% endblock %}
                    </div>
                </div>

            </section>
         </section>
    </div>
        <!--main content end-->
        <!--sidebar right start-->
            <div class="sidebarRight">
                <div id="rightside-navigation">
                    <div id="right-panel-tabs" role="tabpanel">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a data-target="#chat" data-toggle="tab" role="tab" data-toggle="tab" title="Chat"><i class="icon-users fa-lg"></i></a>
                            </li>
                            <li><a data-target="#settings" role="tab" data-toggle="tab" title="Settings"><i class="icon-settings fa-lg"></i></a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="chat">
                                <div class="heading">
                                    <ul>
                                        <li>
                                            <input type="text" class="search" placeholder="Search">
                                            <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <h3 class="sidebar-title">online</h3>
                                <div class="list-contacts">
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar1.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar2.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar3.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status item-status-away"></div>
                                    </a>
                                </div>

                                <h3 class="sidebar-title">offline</h3>
                                <div class="list-contacts">
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar4.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar5.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="{% static 'stock/assets/img/avatar6.gif' %}" class="img-circle">
                                        </div>
                                        <div class="list-item-content">

                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                                <ul class="setting-list">
                                    <li>
                                        <h3 class="sidebar-title">Account Settings</h3>
                                    </li>
                                    <li>
                                        <h5>Share your status</h5>
                                        <input type="checkbox" class="js-switch" checked />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                    <li>
                                        <h5>Notifications</h5>
                                        <input type="checkbox" class="js-switch" />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                    <li>
                                        <h5>Vacation responder</h5>
                                        <input type="checkbox" class="js-switch" checked />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--sidebar right end-->
    <!--Global JS-->

    <script src="{% static 'stock/assets/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/navgoco/jquery.navgoco.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/switchery/switchery.min.js' %}"></script>
    <script src="{% static 'stock/assets/js/application.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/countTo/jquery.countTo.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/chartjs/Chart.min.js' %}"></script>

    <script src="{% static 'stock/javascript/js-stockcreate.js' %}"></script>
    <script src="{% static 'stock/javascript/js-storecreate.js' %}"></script>
    <script src="{% static 'stock/javascript/js-updateItem.js' %}"></script>
    <script src="{% static 'stock/javascript/js-storefill.js' %}"></script>
    <script src="{% static 'stock/javascript/js-itemFill.js' %}"></script>
    <script src="{% static 'stock/javascript/js-addEvent.js' %}"></script>
    <script src="{% static 'stock/javascript/js-roleCreate.js' %}"></script>
    <script src="{% static 'stock/javascript/js-itemCreate.js' %}"></script>
    <script src="{% static 'stock/javascript/js-menuCreate.js' %}"></script>
    <script src="{% static 'stock/javascript/js-storeItemCreate.js' %}"></script>



    <script type="text/javascript" src="{% static 'stock/javascript/jasny-bootstrap.js' %}"></script>


    <script src="{% static 'stock/assets/plugins/messenger/js/messenger.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/messenger/js/messenger-theme-future.js' %}"></script>

  <!--Page Level JS for Demo-->
  <script src="{% static 'stock/assets/plugins/messenger/js/demo/location-sel.js' %}"></script>
  <script src="{% static 'stock/assets/plugins/messenger/js/demo/theme-sel.js' %}"></script>

  <script src="{% static 'stock/assets/plugins/messenger/js/demo/demo-messages.js' %}"></script>



    <script src="{% static 'stock/assets/plugins/fullcalendar/js/jquery-ui-1.10.1.custom.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'stock/datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>








    <script>

      $(document).ready(function() {

          $('#calendar').fullCalendar({


              eventRender: function (event, element) {
                    element.find('.fc-event-title').html(event.title);
                },

              editable: true,
              eventLimit: true,
              droppable: true, // allow "more" link when too many events
              events: [
                  {% for i in Schicht %}
                  {

                      "title": '{{i.name}}',
                      "start": '{{ i.date|date:"Y-m-d" }}',
                      "end": '{{ i.date |date:"Y-m-d" }}',
                      "url": "{% url 'stock:event-detail' i.id %}"

                  },
                  {% endfor %}

              ],


          });

          var currDate = $('#calendar').fullCalendar('getDate');
          $('#calender-current-day').html($.fullCalendar.formatDate(currDate, "dddd"));
          $('#calender-current-date').html($.fullCalendar.formatDate(currDate, "MMM yyyy"));


          $('#cal-prev').click(function(){
              $('#calendar').fullCalendar( 'prev' );
              currDate = $('#calendar').fullCalendar('getDate');
              $('#calender-current-day').html($.fullCalendar.formatDate(currDate, "dddd"));
              $('#calender-current-date').html($.fullCalendar.formatDate(currDate, "MMM yyyy"));
          });


          $('#cal-next').click(function(){
              $('#calendar').fullCalendar( 'next' );
              currDate = $('#calendar').fullCalendar('getDate');
              $('#calender-current-day').html($.fullCalendar.formatDate(currDate, "dddd"));
              $('#calender-current-date').html($.fullCalendar.formatDate(currDate, "MMM yyyy"));
          });
          $('#change-view-month').click(function(){
              $('#calendar').fullCalendar('changeView', 'month');
          });
          $('#change-view-week').click(function(){
               $('#calendar').fullCalendar( 'changeView', 'agendaWeek');
          });
          $('#change-view-day').click(function(){
              $('#calendar').fullCalendar( 'changeView','agendaDay');
          });

      });

  </script>
  <script>
    function addItem(item_id,consum_id)
    {
      $.ajax({
        url:"/stock/add_item_to_consum/",
        type: "POST",
        data: {'value':item_id,'consum':consum_id},
        success: function(response){

        },
      });
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});




  </script>

    <script>
    $(document).ready(function() {
        app.timer();
        app.map();
        app.weather();
        app.morrisPie();
    });
    </script>
    <script>
        $(document).ready(function() {
          $('.datetimepicker').datetimepicker();
        });
    </script>

    <script>

      n=new Date();
      y=n.getFullYear();
      m=n.getMonth()+1;
      d=n.getDate();
      document.getElementById("today").innerHTML = d+"/"+m+"/"+y;

    </script>
    <!--charts------------------->
    <script>

      var endpoint="{% url 'stock:consum-data-month' %}"
      var consumData = [];
      var labels = [];



      $.ajax({
        method: "GET",
        url: endpoint,
        async:false,

        success: function(data){
          consumData = data.consum
          labels = data.labels
          console.log(data)
        },
        error: function(error_data){
          console.log(error_data)
        }
      })


      var ctx=document.getElementById("myConsum");
      var myChart= new Chart(ctx,{
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            data : consumData,
            label: "Personalverzehr",
            backgroundColor: "#3e95cd",
            fill: false
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Monatliche Personalverzehr'
          }
        }

      });




      ctx.onclick = function (evt){
        var activePoints = myChart.getElementsAtEvent(evt);
        var cdata = activePoints[0]['_chart'].config.data;
        var idx = activePoints[0]['_index'];
        var label = cdata.labels[idx];
        console.log(label)


        $.ajax({
          method: "GET",
          url: "stock/api/chart/consum_data_evt/"+label,
          async:false,

          success: function(data){
            consumData = data.consum
            labels = data.labels
            console.log(data)
          },
          error: function(error_data){
            console.log(error_data)
          }
        })
        myChart.data.datasets[0].data=consumData;
        myChart.data.datasets.backgroundColor= "#3e95cd"
        myChart.data.labels=labels;
        myChart.update();






      }


    </script>


    <!-- end Charts-->
    {% block pages-js %}

    {% endblock %}
    </body>
</html>
