{% extends 'base.html'%}

{% load staticfiles %}
{% block javascript %}


{% endblock %}

{% block navbar %}
{% endblock %}


{% block body%}


{% load widget_tweaks %}
<form method="post">
{% csrf_token %}
<div class="container">
  <h2>Change password for:&nbsp&nbsp{{user.username}}</h2>
<hr>

{% for field in form %}

  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}" style="color" >{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>

{% endfor %}


  <button type="button" class="btn btn-default" onclick="goBack()">Close</button>
  <button type="submit" class="btn btn-primary">change</button>
</div>
</form>
<script type="text/javascript">
  function goBack() {
    window.history.back();
}

</script>


{% endblock %}
