<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap Dashboard, Admin, WebApp Template.">
    <meta name="author" content="Beni Arisandi <bent10@stilearning.com>">
  <!-- Mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>GastroMan</title>
    {% load staticfiles %}
    {% load auth_extra %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="favicon" href="favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" rel="stylesheet">
    <!-- BEGIN APP STYLES -->
    <!-- BEGIN BASE STYLES -->
    <link href="{% static 'stock/assets/base/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/animate.css/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/loaders/loaders.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/pace/themes/vision/pace-theme-minimal.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/dragula.js/dragula.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/sweetalert/sweetalert.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END BASE STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS STYLES -->
    {% block css %}
    {% endblock %}
    <link href="{% static 'stock/assets/plugins/jqvmap/jqvmap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGINS STYLES -->
    <!-- BEGIN LAYOUT STYLES -->
    <link href="{% static 'stock/assets/layouts/drawerjs/css/drawerjs.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/layouts/drawerjs/css/stacked-menu.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END LAYOUT STYLES -->
    <!-- BEGIN COMPONENTS REFLOW STYLES -->
    <link href="{% static 'stock/assets/components/css/components.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/components/css/plugins.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END COMPONENTS REFLOW STYLES -->
    <!-- BEGIN SPECIFIC PAGE STYLES -->
    <!-- END SPECIFIC PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- theme will place after this element dinamically via vision.handleThemeChange(themeName) -->
    <link id="app-theme">
    <!-- BEGIN THEME STYLES -->
    <!-- BEGIN GLOBALS STYLES -->
    <link href="{% static 'stock/assets/globals/css/custom.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END GLOBALS STYLES -->
    <!-- END APP STYLES -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a href="#app-drawer-holder" class="sr-only sr-only-focusable" onfocus="vision.redrawPosition()" onblur="vision.redrawPosition()">
      <span class="btn btn-block btn-inverse rounded-0">Skip to main content</span>
    </a>
    <!--[if lte IE 9]>
      <div class="alert alert-banner alert-danger alert-solid" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="vision.redrawPosition()"><span aria-hidden="true">&times;</span></button>
        You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
    </div>
    <![endif]-->
    <!-- BEGIN APP MAIN -->
    <div id="app-main">
      <!-- BEGIN APP HEADER -->
      <div id="app-header" class="app-header">
        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">
            <!-- .navbar-header -->
            <div class="navbar-header">

              <div class="float-left">
                <!-- drawer handler -->
                <button type="button" class="navbar-toggle d-block" data-toggle="drawer" title="Toggle Global Navigations">
                  <span class="sr-only">Toggle Global Navigations</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- navbar brand/title -->
              <h1 class="navbar-brand has-logo dropdown" title="Blau">
                <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img class="navbar-brand-logo" src="assets/globals/img/drop-label.png" alt="Blau">
                  <span class="caret align-baseline"></span>
                </a>
                <!-- .dropdown-menu -->
                <div class="dropdown-menu dropdown-menu-tiles animated zoomIn">
                  <!-- .dropdown-title -->
                  <div class="dropdown-title text-center text-gray-dark">Apps</div>
                  <!-- .dropdown-list-h -->
                  <div class="dropdown-list-h dropdown-list-h-compact">
                    <!-- .row -->
                    <div class="row">
                      <!-- .col -->
                      <div class="col-xs-6">
                        <!-- .dropdown-item -->
                        <a href="index.html" class="dropdown-item">
                          <i class="icon icon-speedometer text-info fa-lg"></i>
                          <span class="icon-text">Dashboard</span>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.col -->
                      <!-- .col -->
                      <div class="col-xs-6">
                        <!-- .dropdown-item -->
                        <a href="app-tasks.html" class="dropdown-item">
                          <i class="icon icon-event text-success fa-lg"></i>
                          <span class="icon-text">Tasks</span>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.col -->
                      <!-- .col -->
                      <div class="col-xs-6">
                        <!-- .dropdown-item -->
                        <a href="app-email.html" class="dropdown-item">
                          <i class="icon fa fa-envelope-open-o text-danger fa-lg"></i>
                          <span class="icon-text">Email</span>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.col -->
                      <!-- .col -->
                      <div class="col-xs-6">
                        <!-- .dropdown-item -->
                        <a href="app-contact.html" class="dropdown-item">
                          <i class="icon fa fa-address-book-o text-warning fa-lg"></i>
                          <span class="icon-text">Contact</span>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.dropdown-list-h -->
                  <!-- .dropdown-footer -->
                  <div class="dropdown-footer">
                    <a href="#" class="btn btn-sm text-muted">More</a>
                  </div>
                  <!-- /.dropdown-footer -->
                </div>
                <!-- /.dropdown-menu -->
              </h1>
              <!-- responsive handler -->
              <div class="float-right visible-xs">
                <button type="button" class="navbar-btn btn px-2" data-toggle="collapse" data-target="#header-form-collapse" aria-expanded="false" title="Toggle Global Search">
                  <span class="sr-only">Toggle global search</span>
                  <i class="fa fa-search fa-lg"></i>
                </button>
                <button type="button" class="navbar-btn btn px-2" data-toggle="collapse" data-target="#header-nav-collapse" aria-expanded="false" title="Toggle Header Navigations">
                  <span class="sr-only">Toggle header navigations</span>
                  <!-- <i class="fa fa-sort fa-lg"></i> -->
                  <span class="label label-default"><span class="fa-lg">0</span></span>
                </button>
                <button type="button" class="navbar-btn btn px-2" data-toggle="extraDrawer" title="Toggle Global Options">
                  <span class="sr-only">Toggle global options</span>
                  <!-- or use .fa.fa-upload.fa-rotate-270 -->
                  <i class="icon-options-vertical fa-lg"></i>
                </button>
              </div>
            </div>
            <!-- /.navbar-header -->
            <!-- .navbar-collapse-wrapper -->
            <div class="navbar-collapse-wrapper">
              <!-- collapsible block form -->
              <div id="header-form-collapse" class="navbar-left navbar-collapse collapse h-a">
                <!-- Global search form -->
                <form class="form-inline">
                  <div class="form-group global-search">
                    <div class="input-group dropdown">
                      <span class="input-group-addon">
                        <label class="label" for="header-global-search">All</label>
                      </span>
                      <input id="header-global-search" data-toggle="dropdown" type="text" class="form-control" placeholder="Search Blau" autocomplete="off">
                      <!-- .dropdown-menu -->
                      <div class="dropdown-menu dropdown-menu-checker" data-selectable="checked">
                        <!-- .dropdown-title -->
                        <div class="dropdown-title">Filter by</div>
                        <!-- .dropdown-list -->
                        <div class="dropdown-list" data-selectable="checked">
                          <!-- .dropdown-item -->
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-info"></span> Activities</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-danger"></span> Archives</a>
                          <a href="#" class="dropdown-item selectable-item checked">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-success"></span> Collections</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-primary"></span> Contacts</a>
                          <a href="#" class="dropdown-item selectable-item checked">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-warning"></span> Documents</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-success"></span> Employee</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-info"></span> Media</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-danger"></span> Reports</a>
                          <a href="#" class="dropdown-item selectable-item">
                            <span class="dropdown-icon dropdown-icon-right checker"><i class="fa fa-check"></i></span>
                            <span class="dropdown-label bg-warning"></span> Widgets</a>
                          <!-- /.dropdown-item -->
                        </div>
                        <!-- /.dropdown-list -->
                      </div>
                      <!-- /.dropdown-menu -->
                      <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                </form>
                <!-- /Global search form -->
              </div>
              <!-- /.navbar-collapse -->
              <!-- collapsible block navs -->
              <div id="header-nav-collapse" class="navbar-right navbar-collapse collapse">
                <!-- navigation right -->
                <ul class="nav navbar-nav">
                  <!-- Compose -->
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Toggle Composer">
                      <i class="fa fa-plus"></i><span class="visible-xs-inline ml-3">Compose</span>
                      <span class="caret float-right visible-xs-inline"></span>
                    </a>
                    <!-- .dropdown-menu -->
                    <ul class="dropdown-menu animated zoomIn">
                      <!-- dropdown item -->
                      <li>
                        <a href="app-email-compose.html">
                          <span class="fa-stack mr-2">
                            <i class="fa fa-square fa-stack-2x text-success"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                          </span>Compose Email</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="fa-stack mr-2">
                            <i class="fa fa-square fa-stack-2x text-info"></i>
                            <i class="icon-user-following fa-stack-1x fa-inverse"></i>
                          </span>Add Contact</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="fa-stack mr-2">
                            <i class="fa fa-square fa-stack-2x text-warning"></i>
                            <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                          </span>Create Task</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="fa-stack mr-2">
                            <i class="fa fa-square fa-stack-2x text-danger"></i>
                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                          </span>New Todo</a>
                      </li>
                      <!-- /dropdown item -->
                    </ul>
                    <!-- /.dropdown-menu -->
                  </li>
                  <!-- /Compose -->
                  <!-- Notifications -->
                  <li class="dropdown dropdown-lg">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Notifications">
                      <i class="icon-bell"></i><span class="visible-xs-inline ml-3">Notifications</span>
                      <span class="caret float-right visible-xs-inline"></span>
                      <span class="badge badge-danger badge-floated"></span>
                    </a>
                    <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-media animated zoomIn">
                      <!-- .dropdown-list -->
                      <div class="dropdown-list">
                        <!-- .dropdown-item -->
                        <a href="#" class="dropdown-item">
                          <!-- .media -->
                          <div class="media">
                            <div class="media-left">
                              <span class="icon-wrapper icon-wrapper-sm text-info">
                                <i class="fa fa-shopping-basket fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <span><strong>Chanda Weave</strong> purchased <strong>Material Icon Set</strong> </span>
                              <time>about a minute ago</time>
                            </div>
                          </div>
                          <!-- /.media -->
                        </a>
                        <a href="#" class="dropdown-item">
                          <!-- .media -->
                          <div class="media">
                            <div class="media-left">
                              <span class="icon-wrapper icon-wrapper-sm text-danger">
                                <i class="fa fa-heart fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <span><strong>Wyoming Cros</strong> liked <strong>Card UI Kit</strong> </span>
                              <time>about 2 hours ago</time>
                            </div>
                          </div>
                          <!-- /.media -->
                        </a>
                        <a href="#" class="dropdown-item">
                          <!-- .media -->
                          <div class="media">
                            <div class="media-left">
                              <span class="icon-wrapper icon-wrapper-sm text-success">
                                <i class="fa fa-user-plus fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <span><strong>Finn Hartma</strong> followed you </span>
                              <time>about 6 hours ago</time>
                            </div>
                          </div>
                          <!-- /.media -->
                        </a>
                        <a href="#" class="dropdown-item">
                          <!-- .media -->
                          <div class="media">
                            <div class="media-left">
                              <span class="icon-wrapper icon-wrapper-sm text-warning">
                                <i class="fa fa-folder fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <span><strong>Ethan Harriso</strong> added <strong>Material Icon Set</strong> to collection</span>
                              <time>about 8 hours ago</time>
                            </div>
                          </div>
                          <!-- /.media -->
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.dropdown-list -->
                      <!-- .dropdown-footer -->
                      <div class="dropdown-footer">
                        <a href="#" class="btn btn-icon btn-icon-right btn-link"><i class="icon fa fa-angle-right"></i>See all notifications</a>
                      </div>
                      <!-- /.dropdown-footer -->
                    </div>
                    <!-- /.dropdown-menu -->
                  </li>
                  <!-- /Notifications -->
                  <!-- Messages -->
                  <li class="dropdown dropdown-lg">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Messages">
                      <i class="icon-envelope-open"></i><span class="visible-xs-inline ml-3">Messages</span>
                      <span class="caret float-right visible-xs-inline"></span>
                      <span class="badge badge-info badge-floated"></span>
                    </a>
                    <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-media animated zoomIn">
                      <!-- .dropdown-title -->
                      <div class="dropdown-title">
                        <a href="#" class="float-right" js-stop-propagation><small>Mark as read</small></a>
                        <span>messages (1)</span>
                      </div>
                      <!-- /.dropdown-title -->
                      <!-- .dropdown-list -->
                      <div class="dropdown-list">
                        <!-- .dropdown-item -->
                        <a href="#" class="dropdown-item dropdown-item-highlight">
                          <div class="media">
                            <div class="media-left">
                              <img class="avatar avatar-sm" src="assets/globals/img/dummy/avatars/face19.jpg" alt="Chanda Weave">
                            </div>
                            <div class="media-body">
                              <time class="float-right">3 min</time>
                              <h5 class="media-heading">Account Team</h5>
                              <p class="media-text">Approval for new design!</p>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <div class="media">
                            <div class="media-left">
                              <img class="avatar avatar-sm" src="assets/globals/img/dummy/avatars/face12.jpg" alt="Wyoming Cros">
                            </div>
                            <div class="media-body">
                              <time class="float-right">2h</time>
                              <h5 class="media-heading">Timothy Lucas, Me (2)</h5>
                              <p class="media-text">Elit odio, sed leo ligula semper</p>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <div class="media">
                            <div class="media-left">
                              <img class="avatar avatar-sm" src="assets/globals/img/dummy/avatars/face2.jpg" alt="Finn Hartma">
                            </div>
                            <div class="media-body">
                              <time class="float-right">Tue</time>
                              <h5 class="media-heading">andrea.olson@mail.com</h5>
                              <p class="media-text">Lectus curabitur mauris arcu</p>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <div class="media">
                            <div class="media-left">
                              <img class="avatar avatar-sm" src="assets/globals/img/dummy/avatars/face8.jpg" alt="Ethan Harriso">
                            </div>
                            <div class="media-body">
                              <time class="float-right">Wed</time>
                              <h5 class="media-heading">Stilearning</h5>
                              <p class="media-text">Thanks for ordering Amarta</p>
                            </div>
                          </div>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.dropdown-list -->
                      <!-- .dropdown-footer -->
                      <div class="dropdown-footer">
                        <a href="#" class="btn btn-icon btn-icon-right btn-link"><i class="icon fa fa-angle-right"></i>See all messages</a>
                      </div>
                      <!-- /.dropdown-footer -->
                    </div>
                    <!-- /.dropdown-menu -->
                  </li>
                  <!-- /Messages -->
                  <!-- Tasks -->
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Tasks">
                      <i class="icon-event"></i><span class="visible-xs-inline ml-3">Tasks</span>
                      <span class="caret float-right visible-xs-inline"></span>
                      <span class="badge badge-success badge-floated"></span>
                    </a>
                    <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-media animated zoomIn">
                      <!-- .dropdown-title -->
                      <div class="dropdown-title">Tasks progress</div>
                      <!-- /.dropdown-title -->
                      <!-- .dropdown-list -->
                      <div class="dropdown-list">
                        <!-- .dropdown-item -->
                        <a href="#" class="dropdown-item">
                          <p class="dropdown-progress-label">
                            <span class="float-right text-muted">38%</span>
                            <strong>Backup Data (13 Todos)</strong>
                          </p>
                          <div class="progress progress-outline progress-outline-warning progress-xs">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="38" style="width: 38%;">
                              <span class="sr-only">38% 38%</span>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <p class="dropdown-progress-label">
                            <span class="float-right text-muted">60%</span>
                            <strong>Update Design (24 Todos)</strong>
                          </p>
                          <div class="progress progress-outline progress-outline-danger progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60" style="width: 60%;">
                              <span class="sr-only">60% 60%</span>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <p class="dropdown-progress-label">
                            <span class="float-right text-muted">92%</span>
                            <strong>Hire Employee (8 Todos)</strong>
                          </p>
                          <div class="progress progress-outline progress-outline-info progress-xs">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="92" style="width: 92%;">
                              <span class="sr-only">92% 92%</span>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <p class="dropdown-progress-label">
                            <span class="float-right text-muted">completed</span>
                            <strong>Sales Review (56 Todos)</strong>
                          </p>
                          <div class="progress progress-outline progress-outline-primary progress-xs">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                              <span class="sr-only">100% completed</span>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="dropdown-item">
                          <p class="dropdown-progress-label">
                            <span class="float-right text-muted">completed</span>
                            <strong>Campaign (17 Todos)</strong>
                          </p>
                          <div class="progress progress-outline progress-outline-primary progress-xs">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                              <span class="sr-only">100% completed</span>
                            </div>
                          </div>
                        </a>
                        <!-- /.dropdown-item -->
                      </div>
                      <!-- /.dropdown-list -->
                      <!-- .dropdown-footer -->
                      <div class="dropdown-footer">
                        <a href="#" class="btn btn-icon btn-icon-right btn-link"><i class="icon fa fa-angle-right"></i>See all tasks</a>
                      </div>
                      <!-- /.dropdown-footer -->
                    </div>
                    <!-- /.dropdown-menu -->
                  </li>
                  <!-- /Tasks -->
                  <!-- User -->
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="bent10">
                      <img class="avatar hidden-xs" src="assets/globals/img/dummy/avatars/face5.jpg" alt="{{user.username}}">
                      <span class="caret float-right float-md-none"></span>
                      <span class="visible-xs-inline"><i class="icon-user mr-3"></i>Bent10</span>
                    </a>
                    <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-tiles animated zoomIn">
                      <!-- .dropdown-title -->
                      <div class="dropdown-title text-left">
                        <a href="{% url 'logout' %}" class="float-right"><u>Logout</u></a>
                        <span>{{user.username}}</span>
                      </div>
                      <!-- /.dropdown-title -->
                      <!-- .dropdown-list-h -->
                      <div class="dropdown-list-h">
                        <!-- .row -->
                        <div class="row">
                          <!-- .col -->
                          <div class="col-xs-6">
                            <a href="#" class="dropdown-item">
                              <span class="text-success" title="Already paid"><i class="fa fa-check-circle"></i></span>
                              <div class="h4"><strong>$5296</strong></div>
                              <span class="icon-text text-muted">Prev month</span>
                            </a>
                          </div>
                          <!-- /.col -->
                          <!-- .col -->
                          <div class="col-xs-6">
                            <a href="#" class="dropdown-item">
                              <span class="text-muted"><span class="sr-only">Unpaid</span>&nbsp;</span>
                              <div class="h4 text-primary"><strong>$3296</strong></div>
                              <span class="icon-text text-muted">Ballance</span>
                            </a>
                          </div>
                          <!-- /.col -->
                          <!-- .col -->
                          <div class="col-xs-12 py-5 border-right-0">
                            <a href="#" class="btn btn-pill btn-raised btn-primary">View Profile</a>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.dropdown-list-h -->
                    </div>
                    <!-- /.dropdown-menu -->
                  </li>
                  <!-- /User -->
                  <!-- Options -->

                  <!-- /Options -->
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.navbar-collapse-wrapper -->
          </div>
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
      </div>
      <!-- END APP HEADER -->
      <!-- BEGIN APP CONTENT -->

      <div id="app-content" class="app-content">
        <!-- BEGIN APP DRAWER -->
        <div id="app-drawer" class="drawerjs drawerjs-has-bottom-nav">
          <!-- .drawer-inner -->
          <div class="drawerjs-inner">
{% block menu %}
            <!-- #drawer-menu -->
            <div id="drawer-menu" class="stacked-menu">
              <!-- .menu -->
              <ul class="menu">
                <li class="menu-header">
                  <h2>Main</h2>
                </li>
                <!-- /.menu-header -->
                <li class="menu-item">
                  <a href="{% url 'home' %}" class="menu-link">
                    <i class="menu-icon icon-speedometer"></i>
                    <span class="menu-text">Home</span>
                  </a>
                </li>
                <!-- /.menu-item -->

                  {% if request.user|has_group:"admins"%}
                  {% block STK-Menu %}
                  <li class="menu-item">
                  <a href="{% url 'stock:stockoverview' %}" class="menu-link">
                    <i class="menu-icon icon-organization"></i>
                    <span class="menu-text">Lager verwaltung</span>
                  </a>
                  </li>
                  {% endblock %}
                  <!-- child menu -->
                  {% block THK-Menu %}
                  <li class="menu-item">
                  <a href="{% url 'stock:storeoverview' %}" class="menu-link">
                    <i class="menu-icon icon-layers"></i>
                    <span class="menu-text">Theken verwaltung</span>
                  </a>
                  </li>
                  {% endblock %}
                  {% endif%}
                  {% block LOG-Menu %}
                  <li class="menu-item">
                  <a href="{% url 'stock:store-log' %}" class="menu-link">
                    <i class="menu-icon icon-basket"></i>
                    <span class="menu-text">Versorger</span>
                  </a>
                  </li>
                  {% endblock %}

                  <!-- /child menu -->

                <!-- /.menu-item -->

                <!-- /.menu-item -->
              </ul>
              <!-- /.menu -->
            </div>
            <!-- /#drawer-menu -->
{% endblock %}
          </div>
          <!-- /.drawer-inner -->
          <!-- compact toggler -->
          <ul class="nav drawerjs-nav drawerjs-nav-bottom nav-right">
            <li class="nav-item">
              <a href="#" data-toggle="drawer-compact">
                <span class="sr-only">Toggle Compact Drawer</span>
                <span class="icon-toggle-compact"></span>
              </a>
            </li>
          </ul>
          <!-- /compact toggler -->
        </div>
        <!-- END APP DRAWER -->
        <!-- BEGIN APP DRAWER HOLDER -->
        <div id="app-drawer-holder">

          <!-- BEGIN CONTENT BODY -->
          <div class="app-content-inner">
{% block bodyindex%}
            <div class="jumbotron" style="padding-left:50px; padding-right:50px;">
              <h1 class="display-3">GastroMan</h1>
              <p class="lead">Eine webbasierte Inventur- und Ladenmanagement Anwendung </p>
              <hr class="my-6">
              <p class="lead" style="font-size:16px;"> Die bis jetzt implementierte Anwendungen:</p>


            </div>

            <div class="container-fluid" style="padding-left:10%; padding-right:10%">
                {% if request.user|has_group:"admins"%}
              <div class="col-sm-4 col-md-4 col-lg-3 mt-4" style="margin:10px;">
              <a href="{%  url 'stock:stockoverview' %}" >
                 <div class="card" >
                     <div class="card-block" >
                         <h4 class="card-title mt-3">Lager</h4>
                         <div class="card-text">

                         </div>
                     </div>
                 </div>
                 </a>
             </div>

             <div class="col-sm-4 col-md-4 col-lg-3 mt-4" style="margin:10px;">
                  <div class="card">
                    <a href="{%  url 'stock:storeoverview' %}">
                      <div class="card-block">
                          <h4 class="card-title mt-3">Theke</h4>
                          <div class="card-text">

                          </div>
                      </div>
                    </a>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3 mt-4" style="margin:10px;">
                   <div class="card">
                     <a href="{%  url 'register' %}">
                       <div class="card-block">
                           <h4 class="card-title mt-3">Versorger registrieren</h4>
                           <div class="card-text">

                           </div>
                       </div>
                     </a>
                   </div>
               </div>
               {% endif %}
              <div class="col-sm-4 col-md-4 col-lg-3 mt-4" style="margin:10px;">
                   <div class="card">
                     <a href="{%  url 'stock:store-log' %}">
                       <div class="card-block">
                           <h4 class="card-title mt-3">Versorger Aufgabe</h4>
                           <div class="card-text">

                           </div>
                       </div>
                     </a>
                   </div>
               </div>

                </div>


{% endblock %}

          </div>
        </div>

        <!-- END APP DRAWER HOLDER -->
        <!-- BEGIN APP EXTRA -->
        <div id="app-extra" class="drawerjs drawerjs-has-close">
          <div class="drawerjs-inner" data-toggle="perfectScrollbar">
            <!-- .drawerjs-section -->
            <div class="drawerjs-section">
              <!-- .list-group -->
              <ul class="list-group list-group-inverse">
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionThemes" aria-expanded="false">
                    <i class="caret"></i> <span>Themes</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionThemes">
                    <div id="optionsThemesList" class="themes-list" data-selectable="active" data-selectable-radio>
                      <a href="#" class="text-primary selectable-item" data-theme="default" title="Pastel" data-toggle="tooltip" data-placement="bottom"></a>
                      <a href="#" class="text-success selectable-item" data-theme="jet" title="Jet" data-toggle="tooltip" data-placement="bottom"></a>
                      <a href="#" class="text-info selectable-item" data-theme="ebony" title="Ebony" data-toggle="tooltip" data-placement="bottom"></a>
                      <a href="#" class="text-danger selectable-item" data-theme="early-black" title="Early Black" data-toggle="tooltip" data-placement="bottom"></a>
                    </div>
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionLayout" aria-expanded="false">
                    <i class="caret"></i> <span>Layout</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionLayout">
                    <!-- .form-group -->
                    <div class="form-group">
                      <!-- .custom-control -->
                      <label class="custom-control custom-radio">
                        <input name="optionLayoutMode" type="radio" class="custom-control-input" value="cliped">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Cliped</span>
                      </label><!-- /.custom-control -->
                      <!-- .custom-control -->
                      <label class="custom-control custom-radio">
                        <input name="optionLayoutMode" type="radio" class="custom-control-input" value="floated">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Floated</span>
                      </label><!-- /.custom-control -->
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionLayoutFixed" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Fixed</small>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionLayoutBoxed" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Boxed</small>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionLayoutFullscreen" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Fullscreen</small>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionHeader" aria-expanded="false">
                    <i class="caret"></i> <span>Header</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionHeader">
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionHeaderFixed" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Fixed <span class="text-muted">(header only)</span></small>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionDrawer" aria-expanded="false">
                    <i class="caret"></i> <span>Drawer</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionDrawer">
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionDrawerVisible" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Visible</small>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionDrawerCompact" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Compact</small>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionDrawerAlign" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Right</small>
                    </div>
                    <!-- /.form-group -->
                    <p class="help-block text-gray-lighter">Menu</p>
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionMenuHoverable" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Hoverable</small>
                      <p class="help-block text-muted">Keep in mind that hoverable menu not support on Fixed Layout.</p>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionMenuCloseOther" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Toggle One</small>
                      <p class="help-block text-muted">Only effected when hoverable is inactive.</p>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionContent" aria-expanded="false">
                    <i class="caret"></i> <span>Content</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionContent">
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionContentFluid" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Fluid</small>
                    </div>
                    <!-- /.form-group -->
                    <p class="help-block text-muted">Hide the App Drawer to see fluid content.</p>
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <li class="list-group-item">
                  <button type="button" class="btn-toggleable btn btn-block btn-unstyled btn-collapse-icon active" data-toggle="collapse" data-target="#optionFooter" aria-expanded="false">
                    <i class="caret"></i> <span>Footer</span>
                  </button>
                  <!-- .collapse -->
                  <div class="collapse in" id="optionFooter">
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionFooterFixed" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Fixed</small>
                    </div>
                    <!-- /.form-group -->
                    <!-- .form-group -->
                    <div class="form-group">
                      <label class="switcher-control">
                        <input type="checkbox" id="optionFooterHidden" class="switcher-input">
                        <span class="switcher-indicator"></span>
                      </label>
                      <small class="ml-1">Hidden</small>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.collapse -->
                </li>
                <!-- /.list-group-item -->
              </ul>
              <!-- /.list-group -->
            </div>
            <!-- /.drawerjs-section -->
          </div>
        </div>
        <!-- END APP EXTRA -->
      </div>

      <!-- END APP CONTENT -->
      <!-- BEGIN APP FOOTER -->
      <div id="app-footer" class="app-footer">
        <div class="app-footer-inner">&copy;</div>
      </div>
      <!-- END APP FOOTER -->
    </div>
    <!-- END APP MAIN -->
    <!-- BEGIN APP JS -->

    <!-- BEGIN BASE JS -->
    <script type="text/javascript" src="{% static 'stock/assets/base/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/pace/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/screenfull/screenfull.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/autosize/autosize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/clipboard/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/dragula.js/dragula.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/spin.js/spin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/loaders/loaders.css.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/sweetalert/sweetalert.min.js' %}"></script>
    <!-- END BASE JS -->
    <!-- BEGIN LAYOUT JS -->
    <script type="text/javascript" src="{% static 'stock/assets/layouts/drawerjs/js/drawerjs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/layouts/drawerjs/js/stacked-menu.min.js' %}"></script>
    <!-- END LAYOUT JS -->
    <!-- BEGIN PAGE LEVEL PLUGINS JS -->
    <script type="text/javascript" src="{% static 'stock/assets/plugins/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/plugins/sparklines/jquery.sparkline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/plugins/chart.js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/plugins/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/plugins/jquery-knob/dist/jquery.knob.min.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS JS -->
    <!-- BEGIN GLOBALS JS -->
    <script type="text/javascript" src="{% static 'stock/assets/globals/js/app.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/globals/js/configs.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/globals/js/setup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/globals/js/components.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'stock/javascript/js-popover.js' %}" ></script>
    <script type="text/javascript" src="{% static 'stock/javascript/js-clock.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'stock/javascript/jasny-bootstrap.js' %}"></script>
    <!-- END GLOBALS JS -->
    <!-- BEGIN PAGE(S) JS -->
    {% block javascript%}
    {% endblock %}
    <script type="text/javascript" src="{% static 'stock/assets/pages/js/demo/dashboard.js"></script>
    <!-- END PAGE(S) JS -->
    <!-- END APP JS -->
  </body>
</html>
