{% extends 'base_log.html'%}

{% load staticfiles %}
{% block javascript %}


{% endblock %}

{% block navbar %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block body%}

{% load widget_tweaks %}
<section id="login">
    <div class="container-fluid">
        <div class="row">
    	    <div class="col-xs-12 col-md-4 col-centered" style="padding-top:10%; margin: 0 auto;">

                <h1>Login</h1>
                  <form class="" action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}


                    {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                      <label for="{{ field.id_for_label }}" style="color:#114878;">{{ field.label }}</label>
                      {% render_field field class="form-control" %}
                      {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                      {% endfor %}
                    </div>

                      {% endfor %}

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="login">

                      </form>


                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Passwort vergessen?</a>

                    <hr>

    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Neues Passwort zusenden</h4>
			</div>
			<div class="modal-body">
             <center><span>Bitte geben Sie Ihre E-Mail-Adresse und wir schicken Ihnen einen speziellen Passwort-Reset-Link in Ihrem Posteingang senden</span></center><br>



                <form role="form" action="javascript" method="post" id="login-form" autocomplete="off">
                <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                              <input type="email" name="email" id="email" class="form-control" placeholder="E-mail">
                    </div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>

                <input type="submit" id="btn-login" class="btn btn-custom" value="schicken">
           </form>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->








<script type="text/javascript">

  function showPassword() {

    var key_attr = $('#key').attr('type');

    if(key_attr != 'text') {

        $('.checkbox').addClass('show');
        $('#key').attr('type', 'text');

    } else {

        $('.checkbox').removeClass('show');
        $('#key').attr('type', 'password');

    }

}

</script>


{% endblock %}
