<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlauNC</title>
      {% load staticfiles %}
      {% load widget_tweaks %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'stock/assets/img/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'stock/assets/css/simple-line-icons.css' %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/animate.css' %}">
    <!-- Switchery -->
    <link rel="stylesheet" href="{% static 'stock/assets/plugins/switchery/switchery.min.css' %}">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'stock/assets/css/main.css' %}">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
   <script src="{% static 'stock/assets/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animated fadeIn">
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-login animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                           Sign In
                        </h3>
                    </div>
                    <div class="panel-body">
                       <p> Login to access your account.</p>
                        <form class="" action="" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                              {% render_field field class="form-control" %}
                              {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                              {% endfor %}
                            </div>

                              {% endfor %}
                            <div class="form-group">
                               <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    <hr />
                                    <a href="pages-sign-up.html" class="btn btn-default btn-block">Not a member? Sign Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Global JS-->
    <script src="{% static 'stock/assets/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/navgoco/jquery.navgoco.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'stock/assets/plugins/switchery/switchery.min.js' %}"></script>
    <script src="{% static 'stock/assets/js/application.js' %}"></script>
</body>

</html>
