<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap Dashboard, Admin, WebApp Template.">
    <meta name="author" content="Beni Arisandi <bent10@stilearning.com>">
  <!-- Mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Login - Blau</title>
      {% load staticfiles %}
      {% load widget_tweaks %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="favicon" href="favicon.ico">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" rel="stylesheet">
    <!-- BEGIN APP STYLES -->
    <!-- BEGIN BASE STYLES -->
    <link href="{% static 'stock/assets/base/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/animate.css/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/loaders/loaders.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/pace/themes/vision/pace-theme-minimal.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/dragula.js/dragula.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/base/sweetalert/sweetalert.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END BASE STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS STYLES -->
    <!-- END PAGE LEVEL PLUGINS STYLES -->
    <!-- BEGIN COMPONENTS REFLOW STYLES -->
    <link href="{% static 'stock/assets/components/css/components.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'stock/assets/components/css/plugins.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END COMPONENTS REFLOW STYLES -->
    <!-- BEGIN SPECIFIC PAGE STYLES -->
    <link href="{% static 'stock/assets/pages/css/signin.css' %}" rel="stylesheet" type="text/css">
    <!-- END SPECIFIC PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- theme will place after this element dinamically via vision.handleThemeChange(themeName) -->
    <link id="app-theme">
    <!-- BEGIN THEME STYLES -->
    <!-- BEGIN GLOBALS STYLES -->
    <link href="{% static 'stock/assets/globals/css/custom.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END GLOBALS STYLES -->
    <!-- END APP STYLES -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a href="#app-drawer-holder" class="sr-only sr-only-focusable" onfocus="vision.redrawPosition()" onblur="vision.redrawPosition()">
      <span class="btn btn-block btn-inverse rounded-0">Skip to main content</span>
    </a>
    <!--[if lte IE 9]>
      <div class="alert alert-banner alert-danger alert-solid" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="vision.redrawPosition()"><span aria-hidden="true">&times;</span></button>
        You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
    </div>
    <![endif]-->
    <!-- BEGIN APP MAIN -->
    <div id="app-main">
      <!-- BEGIN APP CONTENT -->
      <div id="app-content" class="app-content">
        <!-- BEGIN CONTENT BODY -->
        <div class="app-content-inner">
          <!-- .panel-signin -->
          <div class="panel panel-signin">
            <!-- .panel-heading -->
            <div class="panel-heading">
              <h1 class="panel-title">
                <a href="#"><img src="assets/globals/img/drop-label-dark.png" alt="brand" style="height: 36px"></a>
              </h1>
            </div>
            <!-- /.panel-heading -->
            <!-- .panel-body -->
            <div class="panel-body">
              <!-- form -->
                <form class="" action="" method="post" enctype="multipart/form-data">
                  {%csrf_token%}
                <!-- .form-group -->
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                  {% endfor %}
                </div>

                  {% endfor %}
                <!-- .form-group -->
                <!-- /.form-group -->
                <div class="form-group clearfix">
                  <div class="float-left">
                    <label class="custom-control custom-checkbox custom-control-stacked mt-2">
                      <input name="remember" type="checkbox" class="custom-control-input" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Remember me</span>
                    </label>
                  </div>
                  <div class="float-right">
                    <button type="submit" class="btn btn-lg btn-raised btn-success">Sign In</button>
                  </div>
                </div>
                <!-- /.form-group -->
              </form>
              <!-- /form -->
            </div>
            <!-- /.panel-body -->
            <!-- .panel-footer -->
            <div class="panel-footer">
              <a id="confirm-recovery" href="#">Can't Access your Account?</a>
            </div>
            <!-- /.panel-footer -->
          </div>
          <!-- /.panel-signin -->
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END APP CONTENT -->
    </div>
    <!-- END APP MAIN -->
    <!-- BEGIN APP JS -->
    <!-- BEGIN BASE JS -->
    <script type="text/javascript" src="{% static 'stock/assets/base/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/pace/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/screenfull/screenfull.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/autosize/autosize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/clipboard/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/dragula.js/dragula.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/spin.js/spin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/loaders/loaders.css.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/assets/base/sweetalert/sweetalert.min.js' %}"></script>
    <!-- END BASE JS -->
    <!-- BEGIN PAGE LEVEL PLUGINS JS -->
    <!-- END PAGE LEVEL PLUGINS JS -->
    <!-- BEGIN PAGE(S) JS -->
    <script type="text/javascript" src="{% static 'stock/assets/pages/js/signin.js' %}"></script>
    <!-- END PAGE(S) JS -->
    <!-- END APP JS -->
  </body>
</html>
